# Archives
archive/

# Virtual Environment
venv/
env/

# System files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDEs
.vscode/
.idea/

*.log
agent1.txt
agent2.txt
agent1.pid
.gitignore
agent2.pid
.gitignore
.gitignore
agent5_actual_payload.json
agent5_test_payload.json
payload.json
.gitignore
